.mtk10 {
  color: #eef601de;
  font-style: italic;
  background-image: linear-gradient(45deg, #ff61d2, #fe908f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.mtk5 {
  color: #f694ff;
  font-style: italic;
  background-image: linear-gradient(45deg, #11998f, #38ef7d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.monaco-editor .detected-link, .monaco-editor .detected-link-active {
  text-decoration: none;
  text-underline-position: under;
  border-bottom: 4px dashed #0ccc8d;
}
.mtk8 {
  color: #8cfa8d;
  font-style: italic;
  font-weight: 400;
}
.codicon-accounts-view-bar-icon:before {
  content: '';
  background-color: rgb(203 22 13);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(/D:/vscode_style/hacker.png);
  background-size: 100%;
}

.monaco-workbench .activitybar>.content {
  width: 48px;
  height: 663px;
  background-image: linear-gradient(45deg, #4d4f71, #000000);
}
.monaco-workbench .part.titlebar {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(45deg, #000000, #212221);
}
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.remote-kind {
  background-color: #24242c;
  color: #d4d5d7;
}

.monaco-workbench .part.statusbar {
  background-image: linear-gradient(45deg, #4d4f71, #020a38);
}
.mtk1 {
  color: #2f74be;
  background-image: linear-gradient(45deg, #d6d4dc, #0bc6f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  font-style: italic;
}
.mtk9 {
  color: #8be9fd;
  background-image: linear-gradient(45deg, #e00606, #e1ff00);
  font-style: italic;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.monaco-workbench{
  --vscode-icon-foreground: #28d7e8;
}

