
:root {
  --border-radius: 15px;
  --spacing: 5px;
  --spacing-color: #000000;
  --accent-color: #16b673;
  --immersive: 0;
}
.monaco-workbench {
  font-family: "Comic Sans MS" !important;
  font-weight: 500 !important;
  background-color: var(--spacing-color)!important;
}


/* #region-------rounded corners and spacing-------*/

.part.activitybar {
  &.bordered.left {
      border-top-right-radius: var(--border-radius) !important;
      border-bottom-right-radius: var(--border-radius) !important;
      border: 0px solid transparent !important;
      /* margin-left: calc(var(--spacing) * 2) !important; */
  }

  &.bordered.right {
      border-top-left-radius: var(--border-radius) !important;
      border-bottom-left-radius: var(--border-radius) !important;
      border: 0px solid transparent !important;
      /* margin-right: calc(var(--spacing) * 2) !important; */
  }
}

.part.sidebar,
.part.auxiliarybar {
  border-radius: var(--border-radius) !important;
  display: flex;
  flex-direction: column;
  padding: 0px 5px !important;

  &.left {
      margin-top: calc(var(--spacing) * 0) !important;
      margin-bottom: calc(var(--spacing) * 0) !important;
      margin-right: calc(var(--spacing) * 1) !important;
      margin-left: calc(var(--spacing) * 2) !important;
      width: calc(100% - var(--spacing) * 3) !important;
      /* height: calc(100% - var(--spacing) * 0) !important; */
  }

  &.right {
      margin-top: calc(var(--spacing) * 0) !important;
      margin-bottom: calc(var(--spacing) * 0) !important;
      margin-right: calc(var(--spacing) * 2) !important;
      margin-left: calc(var(--spacing) * 1) !important;
      width: calc(100% - var(--spacing) * 3) !important;
      /* height: calc(100% - var(--spacing) * 0) !important; */
  }

  /* -----some adjustments----- */

  * {
      max-width: 100%;
  }

  .search-view .search-widgets-container,
  .search-view .search-widget .replace-container {
      width: calc(100% - var(--spacing) * 3 - 10px) !important;
  }

  .monaco-button-dropdown .monaco-button-dropdown-separator {
      display: none !important;
  }
}

.part.editor {
  margin-top: calc(var(--spacing) * 0) !important;
  margin-bottom: calc(var(--spacing) * 0) !important;
  margin-right: calc(var(--spacing) * 1) !important;
  margin-left: calc(var(--spacing) * 1) !important;
  width: calc(100% - var(--spacing) * 2) !important;
  /* height: calc(100% - var(--spacing) * 0) !important; */
  border-radius: var(--border-radius) !important;

  /* -----some adjustments----- */
  >.content .editor-group-container>.title {
      width: calc(100% - var(--spacing) * 2) !important;

      .editor-actions {
          position: unset !important;
          top: 0 !important;
      }
  }

  .scrollbar.vertical {
      margin-right: var(--spacing);
  }

}

.part.panel {
  border-radius: var(--border-radius) !important;
  display: flex;
  flex-direction: column;
  padding: 0px 5px !important;

  &.bottom {
      margin-top: calc(var(--spacing) * 2) !important;
      margin-bottom: calc(var(--spacing) * 0) !important;
      margin-right: calc(var(--spacing) * 1) !important;
      margin-left: calc(var(--spacing) * 1) !important;
      width: calc(100% - var(--spacing) * 2) !important;
      height: calc(100% - var(--spacing) * 2) !important;
  }

  &.top {
      margin-top: calc(var(--spacing) * 0) !important;
      margin-bottom: calc(var(--spacing) * 2) !important;
      margin-right: calc(var(--spacing) * 1) !important;
      margin-left: calc(var(--spacing) * 1) !important;
      width: calc(100% - var(--spacing) * 2) !important;
      height: calc(100% - var(--spacing) * 2) !important;
  }

  /* -----some adjustments----- */
  .monaco-list-row {
      max-width: 97% !important;
  }

  .integrated-terminal .tabs-container {
      width: calc(100% - var(--spacing) * 2 - 10px) !important;
  }

  .repl:has(div.repl-tree.monaco-mouse-cursor-text.word-wrap) {
      display: flex;
      flex-direction: column-reverse;

      .repl-input-wrapper {
          position: absolute;
      }
  }
}

/* #endregion-------rounded corners and spacing-------*/

/* #region-------rounded corners for lists and inputs-------*/
.monaco-list-row,
.monaco-list-row.selected,
.monaco-list-row.focused,
.monaco-list.mouse-support,
.part.sidebar .pane-header,
.part.auxiliarybar .pane-header,
.monaco-menu .action-item a.focused,
.monaco-menu .action-item a:hover,
.monaco-button,
.notifications-center,
.notification-toast,
.notification-fade-in-done,
.monaco-inputbox,
.monaco-hover,
.suggest-details,
.suggest-widget,
.monaco-editor .find-widget,
.suggest-input-container,
.editor-widget.suggest-widget.visible,
.suggest-details,
.notificatin .editor-widget.parameter-hints-widget.visible {
  border-radius: 6px !important;
  /* margin-right: 4px !important; */
  /* max-width: calc(100% - 4px) !important; */
}

/* #endregion-------rounded corners for lists and inputs-------*/

/* #region-------active tab highlight------*/

.part.editor .tabs-container {
  padding: 7px 0px;

  >* {
      border-radius: 7px !important;
      border: 1px solid transparent !important;
      margin: 0px 7px !important;
  }

  .tab.selected {
      border-radius: 7px !important;
      background-color: rgb(from var(--accent-color) r g b / 0.22) !important;
      border: 1px solid rgb(from var(--accent-color) r g b / 0.0) !important;
      box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
  }

  .tab-border-top-container,
  .tab-border-bottom-container {
      display: none !important;
  }
}

/* .part.activitybar ul[role=tablist] .action-item:hover .action-label::after, */
.part.activitybar ul[role=tablist] .action-item.checked .action-label::after {
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 6px;
  content: '';
  background-color: rgb(from var(--accent-color) r g b / 0.22);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
}

.part.auxiliarybar ul[role=tablist] .action-item,
.part.sidebar ul[role=tablist] .action-item {

  &.action-item.checked .action-label::after {
      content: '';
      width: 110%;
      height: 75%;
      position: absolute;
      left: 1px !important;
      border-radius: 6px;
      background-color: rgb(from var(--accent-color) r g b / 0.22);
      box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
  }

  .active-item-indicator {
      display: none;
  }

  .action-label.codicon {
      font-size: 20px;
  }

  .action-label:not(.codicon) {
      font-size: 13px;
  }
}

.part.sidebar .pane-header.expanded,
.part.auxiliarybar .pane-header.expanded {
  background-color: rgb(from var(--accent-color) r g b / 0.11) !important;
  border-radius: 6px !important;
  border: 2px solid var(--vscode-sideBar-background) !important;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
}

.part.panel .action-item.checked {
  height: 60%;
  border-radius: 7px !important;
  background-color: rgb(from var(--accent-color) r g b / 0.22) !important;
  border: 1px solid rgb(from var(--accent-color) r g b / 0.0) !important;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;

  .active-item-indicator {
      display: none !important;
  }
}

/* #endregion-------tabs------*/

/* #region-------scrollbar sliders and minimap-------*/
.scrollbar.vertical .slider {
  width: 4px !important;
  border-radius: 2px !important;
  cursor: grab !important;

  &:hover {
      width: 6px !important;
      border-radius: 3px !important;
  }

  &:active {
      cursor: grabbing !important;
  }
}

.scrollbar.horizontal .slider {
  height: 4px !important;
  border-radius: 2px !important;
  cursor: grab !important;

  &:hover {
      height: 6px !important;
      border-radius: 3px !important;
  }

  &:active {
      cursor: grabbing !important;
  }
}

.minimap-slider {
  border-radius: 4px !important;
  cursor: grab !important;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;

  &:active {
      cursor: grabbing !important;

  }
}

/* #endregion-------scrollbar sliders-------*/

/* #region-------miscellaneous tweaks-------*/

/* center activity bar top */
.part.sidebar .composite-bar-container,
.part.auxiliarybar .composite-bar-container {
  .composite-bar {
      width: 100%;
  }

  .actions-container {
      justify-content: space-evenly !important;
  }
}

/* gutter current line highlight */
.monaco-editor .margin-view-overlays .current-line-exact-margin {
  background-color: rgb(from var(--accent-color) r g b / 0.11) !important;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
  border-radius: 7px !important;
  margin-left: 7px !important;
  max-width: 77% !important;
  max-height: 95% !important;
}

/* Sidebar bigger title */
.monaco-workbench .part.sidebar>.title>.title-label h2,
.monaco-workbench .part.auxiliarybar>.title>.title-label h2 {
  color: var(--vscode-sideBarTitle-foreground)!important;
  text-transform: none !important;
  font-size: 15px;
  font-weight: 800;
}



/* tweak editor find widget */
.monaco-editor .find-widget {
  top: 10px !important;
  border-radius: 6px !important;
  border: 1px solid var(--vscode-editorWidget-border) !important;
}

/* Remove tips from home page. */
.editor-group-watermark .shortcuts {
  display: none !important;
}

/* Remove vscode icon in the titlebar */
.part.titlebar .window-appicon {
  display: none;
}

/* accent colored icons in the titlebar */
.part.titlebar .action-label.codicon:hover {
  color: var(--accent-color) !important;
}

/* colorpicker */
.colorpicker-color-decoration {
  border-radius: 30% !important;
}

/* colored icons in statusbar */
.part.statusbar {
  .codicon-error {
      color: #ff3377 !important;
  }

  .codicon-warning {
      color: #cccc00 !important;
  }

  .codicon-git-branch {
      color: #9988ff !important
  }

  .codicon-sync {
      color: #11cc99 !important;
  }

  .codicon-bell,
  .codicon-bell-dot {
      color: #0e80c0 !important;
  }
}

/* bigger file icons */
.monaco-icon-label::before {
  background-size: 20px;
}

/* immersive: hide titlebar and statusbar content */
.part.titlebar .titlebar-center,
.part.titlebar .titlebar-right,
.part.titlebar .menubar,
.part.statusbar .items-container {
  opacity: calc(1 - var(--immersive)) !important;
  transition: all 0.25s;

  &:hover {
      opacity: 1;
  }
}

/* #endregion-------little tweaks-------*/

/* #region-------animations-------*/

/* settings icon animation in the activity bar */
.codicon-settings-view-bar-icon {
  transition: transform 250ms cubic-bezier(1, 1, 1, 1);

  &.codicon-settings-view-bar-icon:hover {
      transform: rotate(90deg);
      background-color: transparent !important;
  }
}
/* gutter active line number animation */
.line-numbers.active-line-number {
  transform: scale(1.25) translateX(10px);
  animation: .2s ease-out scaleSize;
}

@keyframes scaleSize {
  0% {
      transform: scale(.75);
  }

  100% {
      transform: scale(1.35) translateX(10px);
  }
}
.monaco-split-view2>.sash-container {
  background-color: #1e1515;
}



/* #endregion-------animations-------*/
/* --------------------------------- */
/* --------------------------------- */

.mtk10 {
  color: #eef601de;
  font-style: italic;
  background-image: linear-gradient(45deg, #ff61d2, #fe908f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.mtk5 {
  color: #f694ff;
  font-style: italic;
  background-image: linear-gradient(45deg, #11998f, #38ef7d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}
.monaco-editor .detected-link, .monaco-editor .detected-link-active {
  text-decoration: none;
  text-underline-position: under;
  border-bottom: 4px dashed #0ccc8d;
}
.mtk8 {
  color: #8cfa8d;
  font-style: italic;
  font-weight: 400;
}
.mtk1 {
  color: #2f74be;
  background-image: linear-gradient(45deg, #d6d4dc, #0bc6f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  font-style: italic;
}
.mtk9 {
  color: #8be9fd;
  background-image: linear-gradient(45deg, #e00606, #e1ff00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  font-style: italic;
}

/* Changing the user icon */
.codicon-accounts-view-bar-icon:before {
  content: '';
  background-color: rgb(203 22 13);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(/D:/vscode-json/vscode_style/hacker.png);
  background-size: 100%;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
  padding: 10px 10px 18px 10px !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
  background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 8px !important;
  border: none !important;
  background-color: rgba(34, 34, 34, .40) !important;
  font-family: "Geist Mono" !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, .3) !important;
}
/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

/* styling the label of the suggestions in command palette */
.monaco-highlighted-label{
  font-family: "FiraCode Nerd Font Mono" !important;
  font-size: 14px !important;
}

  
.monaco-workbench .activitybar>.content {
  background-color:#1e1515 !important;
  border-radius: 10px !important;
}